# Python Practice Notebook 1

## Business Task

A health tech startup called WellBeing360 has developed a holistic health tracking app that collects daily data on physical activity, nutrition, stress, mindfulness, sleep, hydration, BMI, alcohol consumption, and smoking.

The app computes an Overall Health Score (0–100) as a composite of all factors.

Analyze this dataset to understand user health patterns, identify high-risk behaviors, and provide insights that can guide personalized interventions.

##  Import Libraries & Data Collection

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("data/holistic_health_lifestyle_dataset.csv")
df.head()

,Physical_Activity,Nutrition_Score,Stress_Level,Mindfulness,Sleep_Hours,Hydration,BMI,Alcohol,Smoking,Overall_Health_Score,Health_Status
0,54.934283,5.643011,5.696572,0.000000,6.292214,2.578565,24.275932,4.280610,8.984006,36.950187,Poor
1,42.234714,6.389001,5.566647,4.450144,8.519054,2.448713,25.970141,7.461846,3.223304,55.167774,Average
2,57.953771,5.805238,3.126960,9.129716,6.702720,3.261433,25.193857,0.000000,4.600482,78.304426,Good
3,75.460597,7.220836,6.159168,16.496689,7.135854,3.726265,19.527300,9.958423,3.947706,94.018274,Good
4,40.316933,9.394357,2.019835,25.241623,8.076086,3.049478,23.348229,4.320347,8.084322,100.000000,Good

## Question and Solution

### Q1. Display the first 10 rows

In [4]:
# First 10 rows
df.head(10)

,Physical_Activity,Nutrition_Score,Stress_Level,Mindfulness,Sleep_Hours,Hydration,BMI,Alcohol,Smoking,Overall_Health_Score,Health_Status
0,54.934283,5.643011,5.696572,0.000000,6.292214,2.578565,24.275932,4.280610,8.984006,36.950187,Poor
1,42.234714,6.389001,5.566647,4.450144,8.519054,2.448713,25.970141,7.461846,3.223304,55.167774,Average
2,57.953771,5.805238,3.126960,9.129716,6.702720,3.261433,25.193857,0.000000,4.600482,78.304426,Good
3,75.460597,7.220836,6.159168,16.496689,7.135854,3.726265,19.527300,9.958423,3.947706,94.018274,Good
4,40.316933,9.394357,2.019835,25.241623,8.076086,3.049478,23.348229,4.320347,8.084322,100.000000,Good
5,40.317261,5.457916,3.691631,21.941359,6.911555,3.309235,26.284728,3.438906,6.716783,88.758120,Good
6,76.584256,9.001641,1.001824,3.206752,4.273228,2.326077,25.463141,0.000000,16.437920,60.372330,Average
7,60.348695,5.436656,8.117253,11.282877,8.560881,2.600324,21.263454,0.452641,2.695139,80.430716,Good
8,35.610512,5.304746,4.536901,15.763756,8.882393,3.688586,25.455662,1.489827,15.757114,71.172442,Good
9,55.851201,8.637189,9.333768,12.377929,4.253326,2.921369,27.202112,0.000000,0.000000,81.568796,Good

### Q2. Check the data types of all columns.

In [15]:
# Basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Physical_Activity     10000 non-null  float64
 1   Nutrition_Score       10000 non-null  float64
 2   Stress_Level          10000 non-null  float64
 3   Mindfulness           10000 non-null  float64
 4   Sleep_Hours           10000 non-null  float64
 5   Hydration             10000 non-null  float64
 6   BMI                   10000 non-null  float64
 7   Alcohol               10000 non-null  float64
 8   Smoking               10000 non-null  float64
 9   Overall_Health_Score  10000 non-null  float64
 10  Health_Status         10000 non-null  object
dtypes: float64(10), object(1)
memory usage: 859.5+ KB

In [14]:
# Check the data types
df.dtypes

Physical_Activity       float64
Nutrition_Score         float64
Stress_Level            float64
Mindfulness             float64
Sleep_Hours             float64
Hydration               float64
BMI                     float64
Alcohol                 float64
Smoking                 float64
Overall_Health_Score    float64
Health_Status            object
dtype: object

**All the columns except Health_Status is numeric, float data type.**

### Q3. Find the number of missing values in each column.

In [9]:
df.isnull().sum()

Physical_Activity       0
Nutrition_Score         0
Stress_Level            0
Mindfulness             0
Sleep_Hours             0
Hydration               0
BMI                     0
Alcohol                 0
Smoking                 0
Overall_Health_Score    0
Health_Status           0
dtype: int64

**There are no missing values.**

### Q4. Compute mean, median, min, max, and standard deviation for all numeric columns.

In [10]:
df.describe()

,Physical_Activity,Nutrition_Score,Stress_Level,Mindfulness,Sleep_Hours,Hydration,BMI,Alcohol,Smoking,Overall_Health_Score
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,45.047069,6.966599,4.987202,15.224636,7.000194,2.503302,24.095086,3.523663,5.706911,78.227945
std,19.832871,1.883295,1.938195,9.454891,1.468580,0.801660,3.356663,3.270784,5.000260,19.697853
min,0.000000,0.000000,1.000000,0.000000,3.000000,0.500000,18.000000,0.000000,0.000000,2.217088
25%,31.548189,5.675978,3.599696,8.053871,6.003898,1.958461,21.653393,0.298894,1.065818,64.627060
50%,44.948100,7.031693,4.988464,14.896178,7.014341,2.506579,24.072122,2.980658,4.954994,81.118118
75%,58.421618,8.387730,6.327795,21.790305,8.025752,3.052666,26.380536,5.706382,8.991626,97.972163
max,120.000000,10.000000,10.000000,52.278333,10.000000,5.000000,36.376168,18.040621,27.978693,100.000000

**We could see average health score is in 70-80 range.**

### Q5. Identify the top 5 users with the highest Overall_Health_Score and the 5 users with the lowest.

In [11]:
#top 5 users with the highest Overall_Health_Score
top5 = df.sort_values('Overall_Health_Score', ascending=False).head(5)
top5

,Physical_Activity,Nutrition_Score,Stress_Level,Mindfulness,Sleep_Hours,Hydration,BMI,Alcohol,Smoking,Overall_Health_Score,Health_Status
9970,26.748236,9.170378,6.324544,29.748278,7.937627,4.061004,18.101793,3.577642,0.000000,100.0,Good
9968,46.267668,9.607748,6.345290,21.168729,9.127439,2.256672,18.915400,1.924566,9.912102,100.0,Good
26,21.980128,7.490997,8.747153,25.446972,9.808487,1.835566,22.046242,6.657714,0.000000,100.0,Good
24,34.112346,8.530875,3.131029,25.972328,5.600645,1.808175,25.086684,0.000000,2.435469,100.0,Good
20,74.312975,10.000000,9.426556,25.005483,9.648561,2.039538,29.788886,2.258170,6.453720,100.0,Good

**Top scorers have high physical activity, good nutrition, high sleep hours and low stress.**

In [13]:
# the 5 users with the lowest Overall_Health_Score
bottom5= df.sort_values('Overall_Health_Score', ascending=True).head(5)
bottom5

,Physical_Activity,Nutrition_Score,Stress_Level,Mindfulness,Sleep_Hours,Hydration,BMI,Alcohol,Smoking,Overall_Health_Score,Health_Status
8440,29.086897,1.948337,3.363219,0.000000,5.468190,1.333555,26.095117,9.473138,7.042689,2.217088,Poor
6585,47.070763,1.913814,4.686803,0.948020,6.260840,1.772245,24.219959,6.879957,14.710177,4.100249,Poor
5162,43.160864,0.000000,7.654257,2.830695,4.156696,1.577620,25.130162,3.399922,2.307202,7.026355,Poor
2001,42.109627,3.242038,4.746421,0.000000,8.302063,1.619533,30.903076,3.686391,16.126818,7.739620,Poor
3430,54.330906,5.684203,7.379839,0.000000,5.525995,2.713062,25.535648,6.496403,21.854822,7.901196,Poor

**Bottom scorers have poor nutrition,less sleep hours, higher alcohol intake and smoke, even though physical activity and stress are in moderate levels**

### Q6. Find all users who exercise more than 60 minutes per day and have a BMI over 30. How many are there?

In [19]:
# Users exercising >60 min/day and BMI > 30
high_activity_high_bmi = df[(df['Physical_Activity']>60) & (df['BMI']>30)]
high_activity_high_bmi

,Physical_Activity,Nutrition_Score,Stress_Level,Mindfulness,Sleep_Hours,Hydration,BMI,Alcohol,Smoking,Overall_Health_Score,Health_Status
31,82.045564,8.891267,7.371817,22.138202,4.531798,2.419896,31.671607,1.721077,8.656170,88.921295,Good
202,66.661025,7.978261,4.653027,12.587963,5.689905,1.182631,31.845540,2.045897,1.149634,75.468306,Good
251,63.357239,8.988757,7.334781,19.376334,9.253974,1.394604,31.917537,4.639878,7.038856,87.014137,Good
323,86.847746,6.449035,2.710183,22.529675,7.327045,2.623339,30.729099,2.840479,4.068939,100.000000,Good
373,64.185417,5.869300,5.169595,7.240956,5.976173,1.932886,30.700853,8.465391,11.815983,33.056172,Poor
...,...,...,...,...,...,...,...,...,...,...,...
9512,64.585195,5.730409,3.877919,1.829663,5.961853,0.500000,30.757632,3.069795,1.321703,40.761727,Average
9534,61.402872,4.889797,4.069545,26.024326,7.096505,3.587521,30.540693,0.000000,7.935333,97.714410,Good
9577,60.063799,8.411788,6.539364,10.598098,6.854988,1.790123,33.116292,3.282573,4.579422,66.572205,Average
9650,67.468546,8.286471,5.617573,29.124482,7.771175,1.191236,31.003700,0.000000,8.668310,100.000000,Good
9835,66.092413,9.420765,1.298328,18.447446,4.530510,1.637088,31.551219,6.354110,6.211158,86.088147,Good

In [22]:
print("Total number of users:", high_activity_high_bmi.shape[0])

Total number of users: 87

**Large number of users , possibly muscular users or outliers**

### Q7. List users who report high stress (Stress_Level ≥ 8) but have high mindfulness (Mindfulness ≥ 30)

In [27]:
high_stress_high_mindful=df[(df['Stress_Level']>=8)& (df['Mindfulness']>=30)]
high_stress_high_mindful.head()

,Physical_Activity,Nutrition_Score,Stress_Level,Mindfulness,Sleep_Hours,Hydration,BMI,Alcohol,Smoking,Overall_Health_Score,Health_Status
733,10.948328,5.923526,9.058180,30.055071,7.188504,2.479221,23.028091,1.239865,0.000000,100.0000,Good
874,44.337461,9.838129,8.488623,30.950363,9.416160,3.077472,32.084458,0.000000,2.239655,100.0000,Good
1055,31.567533,5.510042,8.584902,30.833900,9.699520,2.183404,20.411242,2.302321,12.336948,98.3249,Good
1093,46.038918,7.326856,8.019959,30.993921,8.058540,2.879051,23.231655,0.000000,17.869393,100.0000,Good
1148,76.890101,4.445258,8.065066,36.190167,5.687887,2.058206,22.224242,0.000000,11.448267,100.0000,Good

In [25]:
print("Total number of users:", high_stress_high_mindful.shape[0])

Total number of users: 36

 **Many users are highly stressed but  they compensate with mindfulness.**